body {
  background-image: url(background.jpg);
  background-size: cover;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 50px;
  text-align: center;
  color: rgb(208, 228, 245);
}

footer {
  color: rgb(208, 228, 245);
  font-family: "Bebas Neue", sans-serif;
  font-size: 18px;
  text-align: center;
}

a {
  color: rgb(208, 228, 245);
}

div {
  color: rgb(208, 228, 245);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-align: center;
}
