body {
  background-image: url(background.jpg);
  background-size: cover;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 50px;
  line-height: 1.1;
  text-align: center;
  color: rgb(208, 228, 245);
  margin-bottom: 40px;
}

.container {
  margin: 80px auto;
  max-width: 800px;
}

form {
  display: flex;
}

.search-bar {
  border-color: silver;
  font-size: medium;
  padding: 20px;
  border-radius: 30px;
  margin-bottom: 10px;
  width: 80%;
}

.search-button {
  border-color: silver;
  background-color: rgb(13, 81, 123);
  color: rgb(208, 228, 245);
  font-size: medium;
  margin-left: 20px;
  margin-bottom: 10px;
  width: 150px;
  border-radius: 30px;
}

.search-hint {
  background-color: rgb(21, 21, 31);
  border-radius: 10px;
  padding: 30px;
  color: rgb(220, 230, 238);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  font-weight: bolder;
  opacity: 0.9;
}

.search-result {
  background-color: rgb(220, 230, 238);
  border-radius: 05px;
  border-left: 5px solid rgb(5, 117, 191);
  color: rgb(23, 23, 47);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-align: center;
  line-height: 25px;
  padding: 40px;
  margin-right: 0px;
  margin-top: 30px;
}

footer {
  color: rgb(208, 228, 245);
  font-family: "Bebas Neue", sans-serif;
  font-size: 18px;
  text-align: center;
  margin-top: 40px;
}
a {
  color: rgb(7, 64, 113);
}
